---
layout: layout.njk
title: PHONE BOOTH PRESS | About
---

<div class="fronttextp">
  <p class="med bold bookletter paragraph">Phone Booth Press was founded in 2010 by Jessica Bugg, Patrick Weaver, and Zo&euml; Roller.  PBP is based in New York City and books <span style="text-decoration: line-through">ARE</span> WERE AVAILABLE AT 
      <a href="https://web.archive.org/web/20170708141828/https://bookbooknyc.com/" class="bookbook-light">
      <span>book</span>
      <span>book</span></a>
    , an independent bookstore in the West Village.</p>

  <h2 class="med bold center headline">Phone Booth Press Authors and Illustrators:</h2>

  <ul class="author-list">
    <li>
      <div class="small showlinks a-info">
        <strong>Brendan Byrne</strong> lives and works in New York City. His fiction regularly appears in <a href="http://www.flurb.net/">FLURB</a>, and his criticism has appeared in <a href="http://therumpus.net/">The Rumpus</a>, <a href="http://www.brooklynrail.org/">The Brooklyn Rail</a>, <a href="http://www.thelmagazine.com/">L Magazine</a>, <a href="http://nypress.com/">the New York Press</a>, and <a href="http://www.strangehorizons.com/">Strange Horizons</a>.  He is the editor of <a href="http://theorphan.org/">The Orphan</a>, a webzine devoted to the otherwise unpublishable.   He tweets as <a href="http://www.twitter.com/brendancbyrne">@brendancbyrne</a>.
      </div>
      <div class="a-photo"><img class="aphotoimg" src="/images/Brendan.jpg"></div>
    </li>
    <li>
      <div class="small showlinks a-info">
        <strong>Pat Weaver</strong> and <strong>Jess Bugg</strong> live respectively in New York, NY and Austin, TX. They just want to be on the side that's winning.
      </div>
      <div class="a-photo"><img class="aphotoimg" src="/images/PatJess.jpg">
      </div>
    </li>
  </ul>