---
layout: layout.njk
title: PHONE BOOTH PRESS | About
---

<div class="fronttextp">
  <span class="med bold">Phone Booth Press was founded in 2010 by Jessica Bugg, Patrick Weaver, and Zo&euml; Roller.  PBP is based in New York City and books <span style="text-decoration: line-through">ARE</span> WERE AVAILABLE AT <a href="https://web.archive.org/web/20170708141828/https://bookbooknyc.com/" style="border: 1px solid black;">
      <span style="background-color: white; color: black;">book</span>
      <span style="background-color: black; color: white;">book</span></a>, an independent bookstore in the West Village.</span><br/><br/><br/>

  <span class="med bold">Phone Booth Press Authors and Illustrators:</span><br/><br/>

  <div class="ainfo-wrapper">
    <div class="small showlinks ainfo">
      <strong>Brendan Byrne</strong> lives and works in New York City. His fiction regularly appears in <a href="http://www.flurb.net/">FLURB</a>, and his criticism has appeared in <a href="http://therumpus.net/">The Rumpus</a>, <a href="http://www.brooklynrail.org/">The Brooklyn Rail</a>, <a href="http://www.thelmagazine.com/">L Magazine</a>, <a href="http://nypress.com/">the New York Press</a>, and <a href="http://www.strangehorizons.com/">Strange Horizons</a>.  He is the editor of <a href="http://theorphan.org/">The Orphan</a>, a webzine devoted to the otherwise unpublishable.   He tweets as <a href="http://www.twitter.com/brendancbyrne">@brendancbyrne</a>.<br/><br/>
    </div>
    <div class="aphoto"><img class="aphotoimg" src="images/Brendan.jpg">
    </div>
  </div>
  <div class="ainfo-wrapper">
    <div class="small showlinks ainfo">
      <strong>Pat Weaver</strong> and <strong>Jess Bugg</strong> live respectively in New York, NY and Austin, TX. They just want to be on the side that's winning.</span>
  </div>
  <div class="aphoto"><img class="aphotoimg" src="images/PatJess.jpg">
  </div>
</div>