---
layout: layout.njk
title: PHONE BOOTH PRESS | Books
---
<div id="books">
	<div class="book">
		<div class="book-image-box">
			<img class="book-image" src="/images/tucover300.jpg"/>
		</div>
		<div class="book-info">
			<h2 class="small">PBP 004</h2>
			<h2 class="med bold istm">The Ungrumblies</h2>
			<h3 class="small">
				Written and Illustrated by
				<br/>
				Pat Weaver &amp; Jess Bugg
			</h3>
			<h3 class="small">1st Printing:</h3>
			<ul class="small">
				<li>May 2013</li>
				<li>4.5 x 5.75 Hardcover - 60 Copies</li>
				<li>All books printed and hand bound in NYC!</li>
			</ul>
			<div class="small bold">Order The Ungrumblies in the 
				<a href="/store" class="showlinks hovershowlinks">store</a>:
				<ul>
					<li>$12 including shipping</li>
				</ul>
			</div>
			<div class="dllink small">
				<a href="/media/the-ungrumblies.pdf" target="_blank">Free PDF Download</a>
			</div>
		</div>
	</div>

	<div class="book">
		<div class="book-image-box">
			<img class="book-image" src="/images/tbobcover300.jpg"/>
		</div>
		<div class="book-info">
			<h2 class="small">PBP 003</h2>
			<h2 class="med bold istm">The Borough of Blackwell</h2>
			<h3 class="small">
				Written by Pat Weaver
				<br/>
				Illustrated by Jess Bugg
			</h3>
			<h3 class="small">1st Printing:</h3>
			<ul class="small">
				<li>April 2012</li>
				<li>8.5 x 5.5 Paperback - 28 Copies</li>
				<li>8.5 x 5.5 Hardcover - 22 Copies</li>
				<li>All books printed and hand bound in NYC!</li>
			</ul>
			<div class="small bold">Out of print December 2012
			</div>
			<div class="dllink small">
				<a href="/media/the-borough-of-blackwell.pdf" target="_blank">Free PDF Download</a>
			</div>
		</div>
	</div>

	<div class="book">
		<div class="book-image-box">
			<img class="book-image" src="/images/instruments300.jpg"/>
		</div>
		<div class="book-info">
			<h2 class="small">PBP 002</h2>
			<h2 class="med bold istm">The Showing of the Instruments: A Novella</h2>
			<h3 class="small">
				by Brendan Byrne
			</h3>
			<p class="small">&ldquo;Stitched, hand bound in pictorial covers. Fearsome little pamphlet recounting incidents of life and death in New York City. Smart and abrasive.&rdquo; &mdash; <a href="http://www.endlessbookshelf.net/">The Endless Bookshelf</a>
			</p>
			<h3 class="small">1st Printing:</h3>
			<ul class="small">
				<li>November 2011</li>
				<li>42 Copies</li>
				<li>All books printed and hand bound in NYC!</li>
			</ul>
			<div class="small bold">
				Out of print June 2012
			</div>
		</div>
	</div>

	<div class="book">
		<div class="book-image-box">
			<img class="book-image" src="/images/PBS300.jpg"/>
		</div>
		<div class="book-info">
			<h2 class="small">PBP 001</h2>
			<h2 class="med bold istm">Positively Bleecker Street</h2>
			<h3 class="small">
				Written and Illustrated by
				<br/>
				Pat Weaver &amp; Jess Bugg
			</h3>
			<h3 class="small">1st Printing:</h3>
			<ul class="small">
				<li>July 2010</li>
				<li>10 Copies</li>
			</ul>
			<h3 class="small">2nd Printing:</h3>
			<ul class="small">
				<li>July 2010</li>
				<li>18 Copies</li>
			</ul>
			<div class="small bold">
				Out of print June 2010
			</div>
		</div>
	</div>
</div>