---
layout: layout.njk
title: PHONE BOOTH PRESS | Books
---
<div id="books">
	<div class="book">
		<div class="book-image-box">
			<img class="book-image" src="/images/tucover300.jpg"/>
		</div>
		<ul class="book-info">
			<li class="small">PBP 004</li>
			<li class="med bold istm">
				<h2 class="sm">The Ungrumblies</h2>
			</li>
			<li class="small">Written and Illustrated by<br/>
Pat Weaver &amp; Jess Bugg
			</li>
			<li>
				<h3>1st Printing:</h3>
				<ul>

					<li>May 2013<.li>
4.5 x 5.75 Hardcover - 60 Copies<br/><br/>
All books printed and hand bound in NYC!
<br/><br/>
						<li class="dllink">
							<a href="https://dl.dropboxusercontent.com/u/10276968/The%20Ungrumblies%20First%20Printing.pdf">Free PDF Download</a>
						</span>

Order The Ungrumblies or donate for PDF download in the <span class="showlinks hovershowlinks">
							<a href="/store">store</a>:</li>
&nbsp;&nbsp;-&nbsp;&nbsp;$12 including shipping<br/>

					</span>
				</ul>
			</div>

			<div class="book">
				<div class="book-image-box">
					<img class="book-image" src="/images/tbobcover300.jpg"/>
				</div>
				<ul class="book-info">
					<li class="small">PBP 003</li>
					<li class="med bold istm">The Borough of Blackwell</li>
					<li class="small">Written by Pat Weaver<br/>
Illustrated by Jess Bugg<br/>
						<br/>
1st Printing:<br/>
April 2012<br/>
8.5 x 5.5 Paperback - 28 Copies<br/>
8.5 x 5.5 Hardcover - 22 Copies<br/><br/>
All books printed and hand bound in NYC!
<br/><br/>
					<li class="dllink">
						<a href="http://dl.dropbox.com/u/10276968/TheBoroughofBlackwellFirstEdition.pdf" >Free PDF Download</a>
					</span>
					<li>Out of print December 2012</span>
			</ul>
		</div>
		<div class="book">
			<div class="book-image-box">
				<img class="book-image" src="http://3.bp.blogspot.com/-o4pRkoycM8s/Tr7byKiC7mI/AAAAAAAAB38/4kg7IWO_2mQ/s640/Cover%2B300.jpg"/>
			</div>
			<ul class="book-info">
				<li class="small">PBP 002</li>
				<li class="med bold istm">The Showing of the Instruments: A Novella</li>
				<li class="small">by Brendan Byrne<br/>
					<br/>
&ldquo;Stitched, hand bound in pictorial covers. Fearsome little pamphlet recounting incidents of life and death in New York City. Smart and abrasive.&rdquo; &mdash; <a href="http://www.endlessbookshelf.net/">The Endless Bookshelf</a>
					<br/>
					<br/>
1st Printing:<br/>
November 2011<br/>
42 Copies<br/><br/>
				<li class="dllink">
					<a href="http://dl.dropbox.com/u/51210296/The%20Showing%20of%20the%20Instruments%2011-23-11%20First%20Edition.pdf" >Free PDF Download</a>
				</span>
				<li>Out of print June 2012</span>
		</ul>
	</div>

	<div class="book">
		<div class="book-image-box">
			<img class="book-image" src="http://2.bp.blogspot.com/-KOXs2rfvKgs/TX_TubZftxI/AAAAAAAABtI/byteYKONKog/s1600/PBS%2B300.jpg"/>
		</div>
		<ul class="book-info">
			<li class="small">PBP 001</li>
			<li class="med bold istm">
Positively Bleecker Street</li>
			<li class="small">Written and Illustrated by<br/>
Pat Weaver &amp; Jess Bugg<br/>
				<br/>
1st Printing:<br/>
July 2010<br/>
10 Copies<br/><br/>
2nd Printing:<br/>
July 2010<br/>
18 Copies<br/><br/>
			<li class="dllink">
				<a href="/pbs/">Read it online now!</a>
			</li><br/>Out of print July 2010</li>
	</ul>
</div>
</div>