html {
  font-size: 62.5%;
}

@font-face {
  font-family: "bookletter";
  src: url("fonts/goudy_bookletter_1911-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/goudy_bookletter_1911-webfont.woff") format("woff"),
    url("fonts/goudy_bookletter_1911-webfont.ttf") format("truetype"),
    url("fonts/goudy_bookletter_1911-webfont.svg#bookletter") format("svg");
}

@font-face {
  font-family: "stm";
  src: url("fonts/GoudyStM-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/GoudyStM-webfont.woff") format("woff"),
    url("fonts/GoudyStM-webfont.ttf") format("truetype"),
    url("fonts/GoudyStM-webfont.svg#stm") format("svg");
}

@font-face {
  font-family: "istm";
  src: url("fonts/GoudyStM-Italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GoudyStM-Italic-webfont.woff") format("woff"),
    url("fonts/GoudyStM-Italic-webfontt.ttf") format("truetype"),
    url("fonts/GoudyStM-Italic-webfont.svg#istm") format("svg");
}

body {
  font-family: "stm", "Times New Roman", "lora", serif;
}

.stm {
  font-family: "stm", serif;
}

.istm {
  font-family: "istm", serif;
}

.courier {
  font-family: "Courier New", Courier, monospace;
}

.center {
  text-align: center;
}

.triple {
  font-size: 5em;
}

.double {
  font-size: 3em;
}

.bigmed {
  font-size: 2.5em;
}

.med {
  font-size: 2em;
}

.smmed {
  font-size: 1.8em;
}

.small {
  font-size: 1.6em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#left {
  width: 25%;
  float: left;
}

#logo {
  float: right;
  width: 100%;
  max-width: 600px;
}

#right {
  width: 75%;
  float: left;
}

table.menu {
  text-align: center;
  font-size: 2.6em;
}

td.menu,
td.cmenu {
  width: 11.11%;
}

td.dot {
  width: 11.11%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.menu {
  -moz-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.menu a {
  -moz-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.cmenu {
  -moz-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.cmenu a {
  -moz-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.menu a:link,
.menu a:visited {
}

.cmenu a:link,
.cmenu a:visited {
  color: #3377cc;
}

.menu a:hover,
.menu a:active {
  color: #3377cc;
}

.menu td:hover,
.menu td:active {
  -webkit-transform: rotate(7.5deg);
  -moz-transform: rotate(7.5deg);
  -ms-transform: rotate(7.5deg);
  -o-transform: rotate(7.5deg);
  transform: rotate(7.5deg);
  filter: progid:DXImageTransform.Microsoft.Matrix;
}

.dllink a:link,
.dllink a:visited {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: black;
  border: 1px solid black;
  margin: -1px;
  padding: 2px 2px 0px 2px;
  color: white;
  -moz-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.dllink a:hover,
.dllink a:active {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
  padding: 2px 2px 0px 2px;
  color: black;
  border: 1px solid black;
  margin: -1px;
}

.showlinks a:link,
.showlinks a:visited,
.showlinks a:hover,
.showlinks a:active {
  text-decoration: underline;
}

.hovershowlinks a {
  -moz-transition: 0.2s color linear;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.hovershowlinks a:hover,
.hovershowlinks a:active {
  color: #3377cc;
}

a img {
  text-decoration: none;
  border: 0 none;
}

#header-wrapper {
  left: 25%;
  z-index: 1;
  background-color: white;
}

#content-wrapper {
  overflow: auto;
}

.fronttext {
  text-align: center;
  width: 84%;
  padding: 1em 8% 1em 8%;
}

.fronttextp {
  width: 84%;
  margin: 2em 0em 0em 0em;
  padding: 1em 8% 0em 8%;
}

.frontimgbox {
  padding: 1em 30% 1em 30%;
  width: 40%;
}

.frontimg {
  width: 100%;
  height: auto;
  max-width: 400px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 75%; /* 4:3 */
  padding-top: 2em 0 2em 0;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 10%;
  height: 80%;
  width: 80%;
}

.bookbookad {
  bottom: 0px;
  margin: 1em 0 0 0;
  padding: 10px 0px 10px 0px;
  background-color: black;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
}

.book {
  border: 0px solid black;
  border-bottom: 1px dotted black;
  padding: 10px;
  overflow: auto;
  height: auto;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* IE 8+ */
}

.book-image-box {
  float: left;
  width: 40%;
}

.book-image {
  width: 100%;
  max-width: 300px;
  float: left;
}

.book-text {
  float: left;
  width: 60%;
  padding-left: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* IE 8+ */
}

.book-clear {
  clear: both;
}

.storeitem {
  border: 1px dashed black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
}

.ainfo {
  width: 70%;
  float: left;
}

.aphoto {
  float: left;
  width: 20%;
  margin: 0% 5% 0% 5%;
}

.aphotoimg {
  float: left;
  width: 100%;
  max-width: 400px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.square-button {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 10px;
  width: 120px;
  text-align: center;
  background-color: grey;
  border: 2px solid black;
  font-family: sans-serif;
}

.square-button:hover {
  background-color: white;
}

@media (min-width: 2400px) {
  #right {
    width: 50%;
    border: none;
    margin-right: 25%;
  }
  table.menu {
    text-align: center;
    font-size: 3em;
  }
  .triple {
    font-size: 6em;
  }
  .med {
    font-size: 2.4em;
  }
  .small {
    font-size: 2em;
  }
  .smmed {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  table.menu {
    text-align: center;
    font-size: 1.8em;
  }
  .triple {
    font-size: 2.6em;
  }
  .med {
    font-size: 1.8em;
  }
  .small {
    font-size: 1.4em;
  }
  .smmed {
    font-size: 1.4em;
  }
  .bold {
    font-weight: normal;
  }
  .italic {
    font-style: normal;
  }
  .frontimgbox {
    padding: 1em 18% 1em 18%;
    width: 64%;
  }
}

@media (max-width: 500px) {
  table.menu {
    text-align: center;
    font-size: 1em;
  }
  .triple {
    font-size: 1.6em;
  }
  .med {
    font-size: 1.2em;
  }
  .small {
    font-size: 1em;
  }
  .smmed {
    font-size: 1em;
  }
  .frontimgbox {
    padding: 1em 8% 1em 8%;
    width: 84%;
  }
  .storecontainer {
    width: 50%;
  }
}
