@font-face {
  font-family: "bookletter";
  src: url("/fonts/GoudyBookletter1911-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "stm";
  src: url("/fonts/GoudyStM-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "istm";
  src: url("/fonts/GoudyStM-Italic-webfontt.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "stm", "Times New Roman", serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem;
}

.bookletter {
  font-family: "bookletter", "Times New Roman", serif;
}

.stm {
  font-family: "stm", "Times New Roman", serif;
}

.istm {
  font-family: "istm", "Times New Roman", serif;
}

.courier {
  font-family: "Courier New", Courier, monospace;
}

.header {
  display: block;
  width: 100%;
}

.paragraph {
  line-height: 150%;
}

.header a,
#header-wrapper .header a,
ul.menu li a {
  text-decoration: none;
  color: #000000;
}

.hovershowlinks a {
  transition: 0.2s color linear;
}

.hovershowlinks a:hover,
.hovershowlinks a:active {
  color: #3377cc;
}

.center {
  text-align: center;
}

.triple {
  font-size: 5em;
}

.double {
  font-size: 3em;
}

.bigmed {
  font-size: 2.5em;
}

.med {
  font-size: 2em;
}

.smmed {
  font-size: 1.8em;
}

.small {
  font-size: 1.6em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0 0 2rem;
}

#left,
#right {
  vertical-align: top;
  padding: 0 2rem;
}

#left {
  flex-basis: 25%;
}

#logo {
  width: 100%;
  max-width: 600px;
}

#narrow-logo {
  display: none;
}

#site-title {
  font-size: 5em;
}

#right {
  flex-basis: 75%;
}

#header-wrapper {
  text-align: center;
}

ul.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 1rem 2rem;
}

.menu {
  transition: 0.2s all linear;
  text-transform: uppercase;
  padding: 0;
}

.menu li a {
  color: green;
}

.menu li:hover,
.menu li:active {
  transform: rotate(7.5deg);
}

.cmenu a:link,
.cmenu a:visited {
  color: #3377cc;
}

.menu li a:hover,
.menu li a:active {
  color: #3377cc;
}

.frontimgbox {
  margin: 1rem 20%;
}

.frontimgbox img {
  width: 100%;
}

.bookbook-ad-wrapper {
  bottom: 0px;
  margin: 1em 0 0 0;
  padding: 10px 3px 10px 3px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.bookbook-ad-wrapper > a {
  border: 1px solid white;
  margin: 0 2px;
  text-decoration: none;
}

.bookbook-light {
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  margin: 0 -3px 0 3px;
}

.bookbook-light a:hover {
  border-color: #3377cc;
}

.bookbook-ad-wrapper > a > span:first-child,
.bookbook-light > span:first-child {
  background-color: white;
  color: black;
  text-transform: none;
  padding: 0 4px;
  margin: 0 -2px 0 0;
}

.bookbook-ad-wrapper > a > span:last-child,
.bookbook-light > span:last-child {
  background-color: black;
  color: white;
  text-transform: none;
  padding: 0 4px;
  margin: 0 0 0 -2px;
}

.author-list {
  list-style-type: none;
  padding: 0;
}

.author-list li {
  display: flex;
  margin: 2rem 0;
}

.author-list li .a-info {
  flex-basis: 70%;
  padding: 1rem;
}

.author-list li .a-photo {
  flex-basis: 30%;
}

.author-list li .a-photo img {
  width: 100%;
}

.book {
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  border-bottom: 1px solid black;
}

.book:last-child {
  border: none;
}

.book > div {
  padding: 1rem;
}

.book > .book-image-box {
  flex-basis: 40%;
}

.book > .book-image-box > img {
  width: 100%;
}

.book > .book-info {
  flex-basis: 60%;
}

.book-info ul {
  margin: 0.5rem;
  padding-left: 20px;
}

.dllink {
  margin: 2rem 0;
  display: block;
}

.dllink > a {
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.2s all linear;
  display: inline-block;
}

.dllink a:link,
.dllink a:visited {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.dllink a:hover,
.dllink a:active {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#contact-list {
  list-style-type: none;
}

.store-alerts {
  list-style-type: none;
}

.store-item {
  display: flex;
}

.store-item-image {
  flex-basis: 30%;
  margin: 10px 10px 10px 20px;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.store-item-image > img {
  width: 100%;
}

@media (max-width: 850px) {
  .triple {
    font-size: 4em;
  }

  #site-title {
    font-size: 4em;
  }

  .frontimgbox {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  #left {
    display: none;
  }

  #right {
    flex-basis: 100%;
  }

  #site-title {
    font-size: 3em;
  }

  .bigmed {
    font-size: 2em;
  }

  #narrow-logo {
    display: inline-block;
  }

  #narrow-logo img {
    width: 50px;
  }

  ul.menu {
    flex-direction: column;
    line-height: 100%;
    margin: 1.5em 0;
  }
}
