<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <div id="wrapper">
      <div id="left">
        <a href="/">
          <img id="logo" src="/images/logo600.jpg"/>
        </a>
      </div>
      <div id="right">
        <div id="header-wrapper">
          <div class="center bold uppercase header">
            <div id="narrow-logo">
              <a href="/">
                <img id="logo" src="/images/logo600.jpg"/>
              </a>
            </div>
            <h1 id="site-title">
              <a href="/">Phone Booth Press</a>
            </h1>
          </div>
          <ul class="menu bold bigmed">
            <li class="menu{% if title.includes("About") %} cmenu{% endif %}">
              <a href="/about">About</a>
            </li>
            <li>&#149;</li>
            <li class="menu{% if title.includes("Books") %} cmenu{% endif %}">
              <a href="/books">Books</a>
            </li>
            <li>&#149;</li>
            <li class="menu{% if title.includes("Contact") %} cmenu{% endif %}">
              <a href="/contact">Contact</a>
            </li>
            <li>&#149;</li>
            <li class="menu{% if title.includes("Store") %} cmenu{% endif %}">
              <a href="/store">Store</a>
            </li>
          </ul>
        </div>

        <div id="content-wrapper">
          {{ content | safe }}
        </div>

        <div class="bookbook-ad-wrapper smmed uppercase">
          Phone Booth Press Titles <span style="text-decoration: line-through">are</span> were available at <a href="https://web.archive.org/web/20170708141828/https://bookbooknyc.com/">
            <span class="bookbook-1">book</span>
            <span class="bookbook-2">book</span></a>
          <br/>
          266 Bleecker Street, New York City
        </div>
      </div>
    </div>
  </body>
</html>